{% extends 'base.html.twig' %}

{% block title %}Clubs{% endblock %}

{% block body %}

<div class="container mt-5">

    <div class="d-flex justify-content-between mb-3">
        <h2>Clubs</h2>

        <a href="{{ path('club_new') }}" class="btn btn-primary">
            + Ajouter Club
        </a>
    </div>

    {% for club in clubs %}
        <div class="card mb-3 p-3">
            <h5>{{ club.name }}</h5>
            <p>{{ club.description }}</p>

            <a href="{{ path('club_show', {'id': club.id}) }}" class="btn btn-sm btn-info">
                Voir
            </a>
        </div>
    {% else %}
        <p>Aucun club disponible</p>
    {% endfor %}

</div>

{% endblock %}