{% extends 'base.html.twig' %}

{% block title %}Nouvelle Candidature{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Soumettre une candidature</h2>

    <div class="card p-4 mt-4" style="max-width: 600px;">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary mt-3">Envoyer la candidature</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
